model:
  input_dim: 1806
  hidden_dim: 4096
  text_embed_dim: 768
  num_layers: 3
  num_heads: 8
  dropout: 0.2
  use_attention: False

data_utils:
  test_split: 0.1
  T: 1000
  lambda_min: -20
  lambda_max: 20
  embed_drop_prob: 0.05
  schedule: 'linear'
  num_workers: 8
  batch_size: 256

trainer:
  lr: 0.00001
  num_epochs: 50
  save_path: best_diffusion_model.pt

sampler:
  guidance_scale: 0.3
  var_interpolation_coeff: 0.1
